<% tweets.each do |t| %>
  <span class='tweet-section'>
    <div class='tweeter'>
      <%= link_to(t.user.name, "users/#{t.user.id}") %>
      <%= link_to("@" + t.user.handle, "users/#{t.user.id}") %>
    </div>
    <div class='tweet-bod'><%= link_to(t.body, "tweets/#{t.id}", class: 'tweet-text') %></div>
    <div class=button><%= link_to("Show Tweet", "tweets/#{t.id}", class: 'tweet-button') %></div>
  </span>
<% end %>
