<div class='row'>
  <div class='nav'>
    <h2 class='nav-bar'>
      <%= link_to("Home", root_path, class: 'home col-sm-1') %>
      <%= link_to("Users", "/users", class: 'home col-sm-1') %>
      <%= link_to(image_tag("twitter-logo.png", size: "33x33"), root_path, class: 'title col-sm-8') %>
    </h2>
  </div>
</div>
