<div>
  <h2 class='nav-bar'>
    <span><%= link_to("Home", root_path, class: 'home') %></span>
    <span class='title'>Twitter</span>
    <!-- <span><%= link_to("Followers", users_path, class: 'followers') %></span> -->
  </h2>
</div>
