@import "bootstrap-sprockets";
@import "bootstrap";
@import "nav";

.bod {
    background-color: #F5F8FA;
}

.tweet-section {
  background-color: white;
  margin: 1em;
  display: inline-block;
  width: 100%;
  height: 15em;
  border: solid black 0.1em;
  border-radius: 1em;
  vertical-align: top;
  box-shadow: .1em .1em .1em .1em lightblue;
  transition: all 0.4s ease;
  &:hover {
    box-shadow: 0em 0.7em 2em lightblue;
    transition: all 0.4s ease;
  }
}

.tweeter {
  padding: 1em 0 0 1em;
  font-size: 1em;
}

.tweet-bod {
  padding-left: .5em;
}

.tweet-text {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.tweet-button {
  padding: 0.25em 0.5em;
  border: solid black 0.1em;
  border-radius: 0.5em;
  float: right;
  font-size: 0.8em;
}

.tweet-button2 {
  padding: 0.25em 0.5em;
  border: solid black 0.1em;
  border-radius: 0.5em;
  float: right;
  font-size: 0.8em;
  margin: 2em 1em;
}

.user-block {
  display: inline-block;
  padding: 1em;
  margin: 1em;
  width: 92.5%;
  vertical-align: top;
  border: solid black 0.1em;
  border-radius: 0.5em;
  background-color: white;
  box-shadow: .1em .1em .1em .1em lightblue;
  transition: all 0.4s ease;
  &:hover {
    box-shadow: 0em 0.7em 2em lightblue;
    transition: all 0.4s ease;
  }
}

.tweet-block {
  display: inline-block;
  width: 100%;
}

.tweet-in-list {
  margin: 1em;
  padding: 2em;
  border: solid black 0.1em;
  border-radius: 0.5em;
  background-color: white;
  box-shadow: .1em .1em .1em .1em lightblue;
  transition: all 0.4s ease;
  &:hover {
    box-shadow: 0em 0.7em 2em lightblue;
    transition: all 0.4s ease;
  }
}

.edit-button {
    font-size: 0.8em;
    float:right;
    padding: 0.25em 0.5em;
    border: solid black 0.1em;
    border-radius: 0.5em;
  }
